{% extends 'realtyestateapp/base.html'%}

{% load static %}
{% block title %} Главная страница {% endblock %}

{% block content %}
<div class="wrapper"><div class="contentblock">
<h1>Парк развлечений "Волшебный город"</h1>
    Сайт компании:<br><a href="http://vk.com/oasis_plaza" class="newsitem_title">http://vk.com/oasis_plaza</a></p>
<div class="btn_block btn-full"><a class="butn btn-green" href="/about/map/">Посмотреть карту центра</a></div>&nbsp;</div>
<div class="contentblock_right"><article><div><p>"Волшебный город" это:</p>
<ul>
<li class="first">5-этажный лабиринт до самого потолка!</li>
<li>Более 100 новых игровых аппаратов и аттракционов</li>
<li>Русские горки</li>
<li>Автодром</li>
<li>Карусели</li>
<li>Батут</li>
<li class="last">Проведение детских дней рождений</li>
</ul>
<p>МЫ ОТКРЫЛИСЬ!</p>
<p><strong>В Нягани открылся современный парк развлечений, не имеющий аналогов в округе и в большинстве других регионов страны. Так лабиринт высотой с пятиэтажный дом и головокружительные русские горки, подобные няганским, есть только в Москве. Парк «Волшебный город» построен в крытом помещении, поэтому весело проводить в нём время можно все новогодние каникулы.</strong></p>
<p>Такого подарка жители Нягани еще не получали. Восторгу детворы и взрослых нет границ: хочется покататься на русских горках, на колесе обозрения, побегать по лабиринту. Развлечения на любой вкус и возраст.</p>
<p>Парку развлечений Нягани могут позавидовать большие города Югры. Например, лабиринт «Башня» вырос до высоты пятиэтажного дома. «Русские горки» имеют десять скоростей. Они ускоряются в зависимости от возраста посетителя. Этот аттракцион с первых минут открытия «Волшебного города» стал самым популярным среди детей и взрослых.</p>
<p>«Волшебный город» могут посещать одновременно более полутысячи человек. Аттракционы и игровые аппараты расположены очень удобно. Отдыхающие совершенно не мешают друг другу. Отдельная площадь отведена автодрому. В тихом уютном месте катаются на каруселях и горках самые маленькие жители Нягани.</p>
<p>Жителям Нягани, Левобережья Оби больше не придется ехать за развлечениями в Екатеринбург или Сургут. В городе появился собственный парк аттракционов. В торговом центре открылись еще два новых кинозала. Теперь расписание сеансов станет более гибким, а премьеры фильмов станут доступней для любителей кино.</p>
<h4>КОНТАКТЫ</h4>
<p>Телефон: 22-100<br> Проведение дней рождений: тел. 8 (900) 385-50-70</p>
<div>
</div>



{% endblock %}