{% extends 'realtyestateapp/base.html'%}

{% block title %}
МЫ
{% endblock %}

{% block content %}
<div class="contentblock_right">
<h2 class="chapter_arrow">Контактная информация</h2>
<article><h3>Парк развлечений "Волшебный город"</h3>
<p>Телефон для справок: <span style="color: #10382;">8 (34672) 22-100</span><br><span style="font-size: small;"> Организатор детских праздников: <span style="color: 4;">8 (900) 385-50-70</span></span></p>
<h3>Кинотеатр Cinema de Lux</h3>
<p><span style="color: #2;"><a style="font-size: 15px;" href="mailto:cinema@oasis-plaza.ru">cinema@oasis-plaza.ru</a></span> <br><span style="color: #000000;">тел.:&nbsp;8 (34672) 22-100, 25-400</span></p>
</article>
<div class="clear"></div>
    <address class="fl">
<div class="adr"><div class="address">Адрес: г.Нягань, ул.Ленина, 28</div></div>
<div class="worktime">
<div class="block">
<div class="head">Часы работы:</div>
<div>с 10.00 до 22.00</div>
</div>
<div class="block last">
<div class="head">Гипермаркет «Магнит»:</div>
<div>с 09.00 до 23.00</div>
</div>
</div>
</address>
</div>
{% endblock %}

